.map-container{
    overflow:hidden;
    padding: 80px 0;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

  .bg-pablo {
    background-color: #c4c4c4c4;
  }

  .rojo-text {
    color: #da2017;
  }

  .rojoc-text {
    color: #fa6351;
  }

  .navbar.navbar-light .breadcrumb .nav-item .nav-link:hover, .navbar.navbar-light .navbar-nav .nav-item .nav-link:focus {
    color: #da2017;
  }