.map-container{
    overflow:hidden;
    padding: 80px 0;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

  .md-pills .nav-link.active, .md-pills .show>.nav-link {
    color: #fff;
    background-color: #007bff;
  }
  .pills-danger .nav-link.active, .md-pills .show>.nav-link {
    color: #fff !important;
    background-color: #da2017 !important;
    transition: background-color 4s linear;
  }
  .pills-danger .nav-link:hover {
    color: #fff !important;
    background-color: #da2017 !important;
  }
  .pills-danger .nav-link {
    color: #da2017 !important;
  }

  .bg-secondary {
    background-color: #979694 !important;
  }

  .btn-secondary {
    color: #fff;
    background-color: #979694 !important;
  }
  .bg-danger {
    background-color: #da2017 !important;
  }

  .btn-danger {
    color: #fff;
    background-color: #da2017 !important;
  }

  .text-danger {
    color: #da2017;
  }